$primary-color: #eadbd4;
$second-color: #f3d779;
$gray-color: #f8f8f8;
$font-stack: "Roboto", sans-serif;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;
$xxxl-screen: 1600px;
