* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page {
  margin-top: 100px;
}

.page-wrap {
  padding: 0 30px 30px 30px;

  @media (min-width: $sm-screen) {
    padding: 0 50px 60px 50px;
  }
}

.quote {
  display: none;
  position: absolute;
  font-family: "Caudex", serif;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 50px;
  color: #fff;

  @media (min-width: $lg-screen) {
    display: block;
  }

  &.small-screen {
    display: block;
    position: relative;
    left: 0;
    transform: translateX(0);
    color: $primary-color;
    font-size: 30px;
    line-height: 36px;

    @media (min-width: $md-screen) {
      font-size: 40px;
      line-height: 46px;
    }

    @media (min-width: $lg-screen) {
      display: none;
    }
  }
}

.page-title {
  font-family: "Caudex", serif;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  padding: 1.5rem 0 3rem 0;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $md-screen) {
    font-size: 40px;
    line-height: 46px;
  }

  @media (min-width: $lg-screen) {
    font-size: 50px;
    line-height: 56px;
    padding: 2.25rem 0 3.75rem 0;
  }

  .name {
    text-transform: uppercase;
    color: $primary-color;
  }
}
